mrot_paper/mrot_paper.pdf
mrot_paper/mrot_paper.tex
mrot_paper/mrot_paper_cache/
.Rproj.user
mrot_paper/mrot_paper_files/
mrot_paper/mrot_paper_files/
.DS_Store
.DS_Store
*.rmarkdown
mental_rotation_files/
*.png
